doctype html
html(lang="es")
  head
    link(rel='stylesheet', href='/css/color.css')
  body
    div#dj
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/umd/react.production.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.0.0/umd/react-dom.production.min.js')
    script(src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js')
    script(src='./src/dj/index.jsx' type='text/babel')
    script(src='./js/dj.js' type='text/babel')
    