doctype html
html(lang="es")
  head
    link(rel='stylesheet', href='/css/color.css')
  body
    <div id="rockola"></div>
    script(src='https://unpkg.com/react@latest/dist/react.js')
    script(src='https://unpkg.com/react-dom@latest/dist/react-dom.js')
    script(src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js')
    script(src='js/scripts.js')
    script(src='js/cancion.jsx' type='text/babel')
    script(src='js/buscador.jsx' type='text/babel')
    script(src='js/resultados.jsx' type='text/babel')
    script(src='js/playlist.jsx' type='text/babel')
    script(src='js/iframe.jsx' type='text/babel')
    script(src='js/rockola.jsx' type='text/babel')
    
    
