doctype html
html(lang="es")
  head
    title= pageTitle
  body
    <div id="root"></div>
    //- <iframe id="videoIframe" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    script(src='https://unpkg.com/react@latest/dist/react.js')
    script(src='https://unpkg.com/react-dom@latest/dist/react-dom.js')
    script(src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')
    script(src='https://www.youtube.com/iframe_api')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js')
    script(src='js/rockola.js')
    script(type='text/babel').
      //- let textos = [];
      //- let listItems;
      class NameForm extends React.Component {
        constructor(props) {
          super(props);
          this.state = {value: '', textos: []};
          this.handleChange = this.handleChange.bind(this);
          this.handleSubmit = this.handleSubmit.bind(this);
        }

        handleChange(event) {
          this.setState({value: event.target.value});
          fetch('https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=10&q='+event.target.value+'&key=AIzaSyDKjZKBuDuPdqgpNZmqby6-iqKTJ66W8JU')
            .then(function(response) {
              return response.json()
            }).then(function(json) {
              for (var value of json.items) {
                //- textos.push(value.snippet.title)
                //- this.setState({textos: event.target.value});
              }
              //- listItems = textos.map((texto) =>
              //-   <li>{texto}</li>
              //- );
            }).catch(function(ex) {
              console.log('parsing failed', ex)
            })
        }

        handleSubmit(event) {
          alert('A name was submitted: ' + this.state.value);
          event.preventDefault();
        }

        render() {
          return (
            <div>
              <input type="text" value={this.state.value} onChange={this.handleChange} />
              <input type="text" readOnly value={this.state.textos} />
              <div>{this.state.textos}</div>
            </div>
          );
        }
      }

      ReactDOM.render(
        <NameForm />,
        document.getElementById('root')
      );
    
    
