doctype html
html(lang="es")
  head
    link(rel='stylesheet', href='/css/color.css')
  body
    <div id="rockola"></div>
    script(src='https://unpkg.com/react@latest/dist/react.js')
    script(src='https://unpkg.com/react-dom@latest/dist/react-dom.js')
    script(src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')
    script(src='https://www.youtube.com/iframe_api')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js')
    script(src='js/variables.js')
    script(src='js/cancion.js' type='text/babel')
    script(src='js/buscador.js' type='text/babel')
    script(src='js/iframe.js' type='text/babel')
    script(src='js/resultados.js' type='text/babel')
    script(src='js/rockola.js' type='text/babel')
    
    
