doctype html
html(lang="es")
  head
    link(rel='stylesheet', href='/css/color.css')
  body
    <div id="rockola"></div>
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/umd/react.production.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.0.0/umd/react-dom.production.min.js')
    script(src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    script(src='./js/scripts.js')
    script(src='./src/components/elements/song.jsx' type='text/babel')
    script(src='./src/components/search_bar.jsx' type='text/babel')
    script(src='./src/components/results.jsx' type='text/babel')
    script(src='./src/components/playlist.jsx' type='text/babel')
    script(src='./src/components/player_bar.jsx' type='text/babel')
    script(src='./src/rockola.jsx' type='text/babel')
    
