doctype html
html(lang="es")
  head
    link(rel='stylesheet' href='/assets/css/signin.css' type="text/css")
  body.signin
    <a class="slackbtn" href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.avatar&client_id=109990022788.355415375331"></a>