doctype html
html(lang="es")
  head
    link(rel='stylesheet', href='/css/color.css')
  body
    p.error #{msg}
    form(method='POST', action='/validarSignin' )
      div
        label(for='nombre') Nombre:
        input#nombre(type='text', placeholder='Nombre' name='nombre')

