doctype html
html(lang="es")
  head
    link(rel='stylesheet', href='/css/color.css')
  body
    div.signin
      form(method='POST', action='/validarSignin' )
        input#nombre(type='text', placeholder='Login' name='nombre')
      p.error #{msg}
    

