body *{
  font-family: 'helvetica';
  font-weight: 300;
}
.video{
  display: block;
  position: relative;
  width: 95%;
  margin: 0 auto;
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
}
.video .thumbnail, .video .titulo-video, .video .views, .video .btn-agregar{
  display: inline-block;
  vertical-align: middle;
}
.video .thumbnail{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.video .thumbnail img{
  width: 100%;
}
.video .titulo-video{
  margin: 0;
  width: calc(100% - 300px);
  font-size: 12px;
}
.video .views{
  width: 200px;
}
.video .views p:first-child{
  font-size: 13px;
  text-align: center;
  margin: 0;
  width: 100%;
  line-height: 1;
}
.video .views p:last-child{
  font-size: 10px;
  margin: 0;
  color: grey;
  text-align: center;
  line-height: 1;
}
  
.video .btn-agregar{
  cursor: pointer;  
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  margin: 0;
}
#iframe{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}
#playlist{
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  background: #fbfbfb;
  padding: 0 0 100px;
  width: 28vw;
  float: right;
  overflow: auto;
}
#playlist .titulo-playlist{
  padding: 10px;
  font-size: 17px;
  margin: 0;
  color: #969696;
}
.playlist-item{
  display: block;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.playlist-titulo{
  display: inline-block;
  font-size: 12px;
  margin: 0;
  width: calc(100% - 60px);
}
.playlist-btns{
  width: 55px;
  text-align: right;
  position: absolute;
  top: 20px;
  right: 0;
}
.playlist-btns .playlist-btn.like:hover, .playlist-btns .playlist-btn.like.active{
  background: #64cc64;
}
.playlist-btns .playlist-btn.dislike:hover, .playlist-btns .playlist-btn.dislike.active{
  background: tomato;
}
.playlist-btns .playlist-btn.like.block{
  background: gray;
  cursor: auto;
}
.playlist-btns .playlist-btn.dislike.block{
  background: gray;
  cursor: auto;  
}
.playlist-btns .playlist-btn.like.hide{
  opacity: 0;
  cursor: auto;    
}
.playlist-btns .playlist-btn.dislike.hide{
  opacity: 0;
  cursor: auto;    
}
.playlist-btns.true{
  opacity: 0.5;
}
.playlist-btns.true .playlist-btn{
  cursor: initial;
}
.playlist-btn{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  font-size: 10px;
  color: white;
  text-align: center;
  margin-left: 5px;
  background: gray;
  padding: 3px;
}
.playlist-btn.like.active{
  background: #64cc64;
}
.playlist-btn.dislike.active{
  background: tomato;
}
#reproductor{
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #e6e6e6;
  text-align: center;
}
#reproductor .btn-mute, #reproductor .btn-sound{
  display: inline-block;
  vertical-align: top;
  width: 20px;
  position: relative;
  top: 23px;
  height: 20px;
  margin: 0;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  margin: 0 5px;
}
#reproductor .nombre-cancion{
  margin: 0;
  text-align: center;
  font-size: 12px;
}
#reproductor .controles{
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: 12px 0;
}
#reproductor .progreso{
  width: calc(100% - 80px);
  background: white;
  position: relative;
}
#reproductor .progreso-actual{
  background: #969696;
  top: 0;  
  position: absolute;
  left: 0;
}
#reproductor .progreso, #reproductor .progreso-actual{
  height: 2px;
  /* transition: all 1s linear; */
}
#reproductor p.inicio, #reproductor p.fin, #reproductor .progreso{
  display: inline-block;
  vertical-align: middle;
}
#reproductor p.inicio, #reproductor p.fin{
  width: 36px;
  margin: 0 2px;
  text-align: center;
  font-size: 12px;
}  
#buscadorkeyword{
  text-align: center;
  position: relative;
  width: 70vw;
  float: left;
  z-index: 1;
}
#buscadorkeyword input{
  max-width: 300px;
  width: 100%;
  padding: 9px;
  background: #eee;
  border: none;
  outline: 0;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
#resultados{
  text-align: center;
  width: 70vw;
  float: right;
  padding-bottom: 100px;
}
.boton-buscador-ayuda{
  background: gray;
  color: white;
  display: inline-block;
  vertical-align: middle;  
  padding: 3px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 5px;
}
.tooltip{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  border-radius: 4px;
  background: #eeeeee;
  text-align: left;
  margin: 0;
  padding: 10px 20px;
  opacity: 0;
  z-index: 10;
  font-size: 11px;
}
.tooltip li:first-child{
  list-style: none;
  margin-bottom: 10px;
}
.boton-buscador-ayuda:hover + .tooltip{
  opacity: 1;
}
.signin{
  top: 50%;
  padding-top: 40vh;
}
.signin input{
  display: block;
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  margin-top: 20px;
  text-align: center;
}
.signin input:focus{
  background: #f7f7f7;
}
.signin .error{
  text-align: center;
  color: tomato;
  font-size: 11px;
}
.barra-progreso, .nombre-cancion{
  width: calc(100% - 60px);
}