.search-bar
  position: absolute
  top: 0
  left: 0
  width: 100vw
  z-index: 4
  +prefixer(background,linear-gradient($firstBckSearch, $lastBckSearch),("webkit", "moz", "ms"))   
  +clearfix
  .version-number
    position: absolute
    top: 5px
    left: 5px
    color: $textVersionNumber
    font-size: 9px
  .search-input
    display: inline-block
    padding: 15px 0 15px 130px
    input
      background-color: $bckSearchInput
      color: white
      width: 200px
      border-bottom: 1px solid $borderSearchInput
      padding: 7px
      font-size: 12px
      &::placeholder
        color: $placeholderSearchInput
  .profile
    float: right
    padding: 13px
    .name, .image
      display: inline-block
      vertical-align: middle
    .name
      font-size: 10px
      opacity: 0.5
      margin-right: 10px
    .image
      +size(22px)
      border-radius: 50%
      border: 1.2px solid $borderProfile 
      background-size: cover
      background-position: center