@import ../../bourbon/bourbon

body
  margin: 0
  *
    position: relative
    box-sizing: border-box
    -webkit-font-smoothing: antialiased
    &:focus
      outline: 0
  a
    border: 0
    text-decoration: none
  input, select
    border: 0
    -webkit-appearance: none
    -webkit-border-radius: 0px
  button
    border: 0
    background: none
    cursor: pointer
  p, span, h1, h2, h3, h4, h5, h6
    margin: 0
    font-family: 'Roboto', sans-serif
    font-weight: normal
  ul
    padding: 0
    margin: 0
    li
      list-style-type: none
  img
    max-width: 100%