@import base/root

body.signin
  width: 100vw
  height: 100vh
  background: linear-gradient(#18223d, #171925)
  .content
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    position: absolute
    text-align: center
    .slackbtn
      display: block
      margin: 0 auto
      width: 80px
      height: 80px
      border-radius: 50%
      background-image: url(../img/slackbtn.jpg) 
      background-size: contain
      background-position: center
      box-shadow: 0 0 20px rgba(white, 0.3)
      -webkit-transition: all .6s ease-out
      transition: all .6s ease-out
      &:hover, &:focus, &:visited
        box-shadow: 0 0 60px rgba(white, 0.8)
    h1
      color: white
      font-size: 16px
      margin-top: 30px